<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Klasifikasi Akun</title>
    <link rel="stylesheet" type="text/css" href="static/form.css">
</head>
<body>
    <header>
        <div class="nama">
            <h1>AI</h1>
            <h2>QUNTANSI</h2>
        </div>
    </header>
    
    <section class="konten1">
        <div class="container">
            <h2>Welcome to AIQUNTANSI</h2>
            <p>AIQUNTANSI adalah mitra terpercaya Anda untuk solusi akuntansi yang inovatif dan efisien!</p>
            <p>Ingin mencoba aplikasi,silahkan kami input dibawah ini!</p>
        </div>
    </section>


    <form action="" method="post">
        <h2>Masukkan nama akun:</h2>
        Nama Akun : 
        <input type="text" name="input">
        <input type="submit" value="Input Text"><br><br>
        Hasil :
        <input type="text" name="hasil" value="{{ model }}">
    </form>

<section class="konten3">
    <div class="container">
        <h2>Petunjuk Penggunaan</h2>
        <p>Dengan menggunakan situs ini, Anda menyetujui syarat dan ketentuan berikut...</p>
    </div>
</section>
    <section class="about">
        <h2>About Us</h2>
        <p>Selamat datang di website Kami! Kami berdedikasi untuk menyediakan layanan dan solusi berkualitas tinggi</p>

        <p>Jangan ragu untuk menghubungi kami jika Anda memiliki pertanyaan atau jika Anda ingin mempelajari lebih lanjut tentang layanan kami. Kami berharap dapat melayani Anda!</p>
        
        <h3>Kontak Kami</h3>
        <p>Email: </p>
        <p>Phone: </p>
        <p>Address: </p>
    </section>
    

    <footer>
        <p>&copy; 2023 Akuntansi Faktur</p>
    </footer>
</body>
</html>
